
/* REFERENCIANDO CON PALABRA CLAVE */
/* h1{
    font-size: 100px;
} */

/* REFERENCIANDO CON EL ATRIBUTO ID */
/* #titulo-principal{
    font-size: 100px;    
} */

/* REFERENCIANDO CON EL ATRIBUTO CLASS */
/* .color-green{
    color: green;
} */

/* REFERENCIANDO MEDIANTE CUALQUIER ATRIBUTO */
/* header[name="t1"]{
    color: green;
} */


* {
    margin: 0px;
    padding: 0px;
}

h1{
    font: bold 20px verdana, sans-serif
}

h2{
    font: bold 14px verdana, sans-serif
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup{
    display: block;
}

body{
    text-align: center;
}

#agrupar{
    width: 100%;
    margin: 14px auto;
    text-align: left;
}

#cabecera {
    background: #FFFBB9;
    border: 1px solid #999999;
    padding: 20px;
}

#menu{
    background: #CCCCCC;
    padding: 5px 15px;
}

#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif
}

#seccion {
    float: left;
    width: 660px;
    margin: 20px;
}

#columna {
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: #CCCCCC;
}

#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}

img{
    width: 100%;
}

article{
    background: #FFFBCC;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
}

article footer{
    text-align: right;
}

figcaption{
    font: italic 14px verdana, sans-serif;
}

div:not(.dropdown, .dropdown-content) {
    width: 100px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000000;
   -moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
     box-sizing: border-box;
}


@media (max-width : 1000px){
    #columna{
        display: none;
    }

    #seccion {
        width: calc(100% - 40px);
    }

    hgroup h1{
        font: bold 15px verdana, sans-serif;
    }

    hgroup h2{
        font: bold 10px verdana, sans-serif;
    }

    #cabecera h1{
        text-align: center;
    }

    #menu li {
        display: block;
    }
}

.dropdown{
    display: inline-block;
}

.dropbtn{
    background-color: transparent;
    font: bold 14px verdana, sans-serif;
    border: none;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #cccccc;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font: bold 14px verdana, sans-serif;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    background-color: #dddddd;
}

#menu ul li a{
    text-decoration: none;
    color: black;
}
